@import url('https://fonts.googleapis.com/css2?family=Poppins :wght@300;400;500;600&display=swap'); 
:root{
	--pink:#e84393;
	--red:#c0392b;
	--orange :#f39c12;
	--black:#333;
	--white:#fff;
	--light-color:#666;
	--light-white:#ccc;
	--light-bg:#f5f5f5;
	--border:.2rem solid var(--black);
	 --main-color:rgb(221,47,110);
	--color-dark:#1D2231;
     --text-grey:#8390A2;
	 --border2:.solid var(--black);}
       
	
	table,tr,td{
	border: 1.5px solid black;
	 border-collapse: collapse;
	}
	table{
		font-size:22px;
		width:900px;
		margin-top:40px;
	margin-left:20%;}
	
	tr, td {
		
 text-align:center;
}

td form input{
	width:70px;
	height:30px;
	font-size:20px;
	border:1px black;
} 
.addCategory{
	width:20rem;
	height:15rem;
	border-radius:.5rem;
background-color:var(--white);
border:1.5px solid black;
text-align:center;
margin-top:20px;
padding:10px 10px 20px 10px;
margin-left:40%;}
	

.addCategory form h3{
	font-size:1.8rem;
	text-transform:uppercase;
	color:var(--black);
}	
.addCategory form .box{
	width:100%;
	margin:1.2rem 0;
	font-size:1.1rem;
	color:var(--black);
	height:40px;
	padding:.3rem .3rem;
	background-color:var(--light-bg);
border:1px solid black;}
.sub{
	
	width:120px;
cursor:pointer;
	height:30px;
font-size:18px;
color:blue;}
.sub:hover{
	
opacity:1}


	
	
		
	.updateCategory{
max-width:20rem;
	height:28rem;
	border-radius:.5rem;
background-color:var(--white);
border:1.5px solid black;
text-align:center;
margin-top:20px;
padding:10px 10px 20px 10px;
margin-left:30%;}

.updateCategory form .box{
	width:100%;
	margin:1.2rem 0;
	font-size:1.1rem;
	color:var(--black);
	height:40px;
	padding:.3rem .3rem;
	background-color:var(--light-bg);
border:1px solid black;}
.account-box{
margin-top:6rem;}
		.message{
			position:sticky;
			top:0;
			margin:0 auto;
			max-width:1200px;
			background-color:var(--light-bg);
		   display:flex;
		   justify-content: space-between;
		align-items:center;}
		.total{
			margin-top:20px;
			width:80px;
			background-color:#f1f5f9;
		margin-left:20%;}
.option-btn{
   
   border-radius: 2px;
   width:120px;
   height:30px;
   margin-top:10px;
  margin-left:100px;
   background-color:#f0f0f1;
   border-radius:2px;
   cursor: pointer;

   text-transform: capitalize;
}

.option-btn a{
	color:blue;
 font-size:20px;
text-decoration:none;}
.option-btn a:hover{
opacity:1;}

.placed-orders{
margin-top:10px;
 width:500px;
 margin-left:10px;
}


.placed-orders .box-container{
   display: grid;
   grid-template-columns: repeat(3 , 20rem);
gap:1.5rem;
   align-items: flex-start;
 margin-top:10px;
   
   
}

.placed-orders .box-container .box{
   padding:1rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.placed-orders .box-container .box p{
   margin-bottom: 1rem;
   font-size: 1rem;
   color:var(--light-color);
}

.placed-orders .box-container .box p span{
   color:var(--pink);
}

.placed-orders .box-container .box form{
   margin-top: 0rem;
   text-align: center;
}


    @media (max-width:1200px){
		.addCategory{
		margin-left:30%;}
	 	
		table{
		margin-left:15%;
     width:800px;}
      .total{
		margin-left:15%;}

}

		@media (max-width:1100px){
			.placed-orders .box-container{
			grid-template-columns: repeat(2 , 20rem);
		}
		}

		@media (max-width:990px){
			.addCategory{
		margin-left:20%;}
		
		table{
		margin-left:10%;
		width:700px;}
		.total{
		margin-left:10%;}
		
		}
		@media (max-width:800px){
			table{
		margin-left:5%;
		width:600px;}
		.total{
		margin-left:5%;}	
			
		}
		@media (max-width:750px){
			.updateCategory{
			margin-left:10%;}
			table{
		margin-left:3%;
		width:550px;}
		}
		@media (max-width:700px){
			.placed-orders .box-container{
			grid-template-columns: repeat(1 , 20rem);
		}
		
		}
		
		@media (max-width:600px){
			.addCategory{
		margin-left:10%;}
			table{
		margin-left:1%;
		width:500px;}
		.total{
		margin-left:1%;}
		}
		@media (max-width:650px){
			
			table{
		
		width:420px;}
		}
		