@import url('https://fonts.googleapis.com/css2?family=Poppins :wght@300;400;500;600&display=swap'); 
:root{
	--pink:#e84393;
	--red:#c0392b;
	--orange :#f39c12;
	--black:#333;
	--white:#fff;
	--light-color:#666;
	--light-white:#ccc;
	--light-bg:#f5f5f5;
	--border:.2rem solid var(--black);
	 --main-color:rgb(221,47,110);
	--color-dark:#1D2231;
     --text-grey:#8390A2;}

	
	
	
	table,tr,td{
	border: 1.5px solid black;
	 border-collapse: collapse;
	}
	table{
		font-size:22px;
		width:950px;
		margin-top:40px;
	margin-left:20%;}
	
	tr, td {
		
 text-align:center;
}

td form input{
	width:70px;
	height:30px;
	font-size:20px;
	border:1px black;
} 
.addProduct{
	width:35rem;
	height:25rem;
	border-radius:.5rem;
background-color:var(--white);
border:1.5px solid black;
text-align:center;
margin-top:20px;
padding:10px 10px 20px 10px;
margin-left:30%;}
	

.addProduct form h3{
	font-size:1.8rem;
	text-transform:uppercase;
	color:var(--black);
}	
.addProduct form .box{
	width:15rem;
	margin-top:1rem;
	font-size:1.1rem;
	color:var(--black);
	height:40px;
	padding:.3rem .3rem;
	background-color:var(--light-bg);
border:1px solid black;}
.addProduct form .box1{
	width:15rem;
	margin-top:1rem;
	margin-left:4rem;
	font-size:1.1rem;
	color:var(--black);
	height:40px;
	padding:.3rem .3rem;
	background-color:var(--light-bg);
border:1px solid black;}

.sub{
	width:120px;
	height:30px;
font-size:18px;
color:blue;}
.sub:hover{
opacity:1;}
.addProduct form textarea{
margin-top:1rem;
width:33rem;
height:9rem;
resize:none;
	margin:1rem 0;
	font-size:1.1rem;
	color:var(--black);
	
	padding:.3rem .3rem;
	background-color:var(--light-bg);
border:1px solid black;
}
.account-box{
	margin-top:6rem;}
	
	.message{
			position:sticky;
			top:0;
			margin:0 auto;
			max-width:1200px;
			background-color:var(--light-bg);
		   display:flex;
		   justify-content: space-between;
		align-items:center;}
	#curr{
	width :40px;
	margin-left:-46px;}
	

		.updatelist{
max-width:20rem;
	height:30rem;
	border-radius:.5rem;
background-color:var(--white);
border:1.5px solid black;
text-align:center;
margin-top:20px;
padding:10px 10px 20px 10px;
margin-left:30%;}

.updatelist form .box{
	width:100%;
	margin:1.2rem 0;
	font-size:1.1rem;
	color:var(--black);
	height:40px;
	padding:.3rem .3rem;
	background-color:var(--light-bg);
border:1px solid black;}

.updatelist form textarea{
	
    height:30rem;
    resize:none;
	
	font-size:1.1rem;
	color:var(--black);
	background-color:var(--light-bg);
    border:1px solid black;
}

.option-btn{
   
   border-radius: 2px;
   width:120px;
   height:30px;
   margin-top:10px;
  margin-left:100px;
   background-color:#f0f0f1;
   border-radius:2px;
   cursor: pointer;

   text-transform: capitalize;
}

.option-btn a{
	color:blue;
 font-size:20px;
text-decoration:none;}
.option-btn a:hover{
opacity:1;}
.add{
	width:20rem;
	height:12rem;
	border-radius:.5rem;
background-color:var(--white);
border:1.5px solid black;
text-align:center;
margin-left:35%;
margin-top:30px;
padding:10px 10px 20px 10px;}
.add form .box{
	width:100%;
	margin:1.2rem 0;
	font-size:1.1rem;

	color:var(--black);
	height:40px;
	padding:.3rem .3rem;
	background-color:var(--light-bg);
border:1px solid black;}
.sub1{
	margin-left:17px;
	width:120px;
	height:31px;
font-size:18px;
color:blue;}
.sub1:hover{
opacity:1;}
.box2{
	width:6rem;
	margin-top:1rem;
	font-size:1.1rem;
	margin-left:20%;
	color:var(--black);
	height:30px;
	padding:.3rem .3rem;
background-color:var(--light-bg);
border:1px solid black;}
.sub2{
	display:inline-block;
	width:70px;
	height:30px;
font-size:18px;
color:blue;}
.sub:hover{
opacity:1;}

.total2{
			margin-left:20%; 
			margin-top:20px;
			width:480px;
			background-color:#f1f5f9;
		}
		
		
		@media (max-width:1200px){
		.addProduct{
	     margin-left:30%;}
	 	
		table{
		margin-left:10%;
        width:800px;}
		
        .total{
		margin-left:10%;}
		
		.total2{
		margin-left:10%;}
		
		.box2{
			margin-left:10%;}
		}



		@media (max-width:990px){
		.addProduct{
		margin-left:10%;}
		
		table{
		margin-left:2%;
		width:700px;}
		
		.total{
		margin-left:5%;}
		
		.total2{
		margin-left:5%;}
		
		.box2{
		margin-left:5%;}
		}
		
		@media (max-width:800px){
			.addProduct{
		margin-left:1%;}
			table{
		margin-left:1%;
		width:600px;}
		.total{
		margin-left:1%;}

			.total2{
		margin-left:1%;}
		
		.box2{
		margin-left:1%;}
		.updatelist{
			margin-left:10%;}
		}
		
		
		@media (max-width:750px){
			table{
	        width:550px;}
			
			.addProduct{
		margin-left:1%;
		width:25rem;
	     height:30rem;}
		 .addProduct form textarea{
          
         width:20rem;
           height:9rem;
		 }
		 
		 .total2{
		   width:280px;}
		 
		 .add{
		 margin-left:10%}
		}
		
		
		@media (max-width:600px){
			.addProduct{
		margin-left:1%;}
			table{
		
		width:500px;}
		
		}
		@media (max-width:500px){
			table{
		
		width:200px;}
		}
	